.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#research-areas {
	display: flex;
	justify-content: center;
	margin-top: -74px;

	.research-box{
		height: 130px;
		background-color: #472979;
		width: 195px;
		color: white;
		text-align: center;
		margin: 0 2px;
		padding: 12px 30px;
		text-transform: uppercase;
		font-size: .75em;
	}
}

.home {
	.site-content {
		background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
		.entry-content {
			height: 650px;

			p {
				margin: 20px auto 40px;
				max-width: 900px;
				font-size: 1.2em;
				line-height: 2em;
			}
		}
	}
}